:root {
    --primary-color: #2d3561;
    --secondary-color: #c05c7e;
    --teritary-color: #f3826f;
    --extra-color: #ffb961;
    --max-width: 1100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

img {
    width: 100%;
}

h1, h2 {
    margin-bottom: 1rem;
}

input, select {
    width: 100px;
    padding: 0.25rem 0.25rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    margin: 0;
    box-sizing: border-box;
}

input, select:focus {
    outline: none;
}

input[type="radio"] {
    margin: 0.25rem;
}

/* Utility Classes */

.brand-container select {
    width: 80%;
}

.select-wide {
    width: 100%;
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center { text-align: center;}
.text-white {color: #fff;}
.text-bold {font-weight: 800;}

.mt-1 {margin-top: 1rem;}
.mt-2 {margin-top: 2rem;}
.mt-3 {margin-top: 3rem;}
.mt-4 {margin-top: 4rem;}
.mt-5 {margin-top: 5rem;}

.mx-1 {margin: 0 1rem}
.mx-2 {margin: 0 2rem}
.mx-3 {margin: 0 3rem}
.mx-4 {margin: 0 4rem}
.mx-5 {margin: 0 5rem}

.ma-1 {margin: 1rem 1rem}
.ma-2 {margin: 2rem 2rem}
.ma-3 {margin: 3rem 3rem}
.ma-4 {margin: 4rem 4rem}
.ma-5 {margin: 5rem 5rem}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    margin: 0.25rem 0;
}
/* Navbar */

#navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    background: #f8f8f8;
    
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0 5rem;
}

#navbar ul li a {
    padding: 0.5rem;
    color: black;
    margin: 0 0.5rem;

}

#navbar ul li a:hover {
    border-bottom: 2px solid var(--extra-color);
}

#navbar .logo {
    width: 200px;
    margin: 1rem 5rem;
}

/* Main content */

#main-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
}

#main-content .sidebar {
    display: flex;
    flex-direction: column;
    height: 70vh;
    margin: 5rem 5rem;
    padding: 1rem 1rem;
    background: white;
    border-radius: 0.5rem;
    border: 2px solid var(--secondary-color)
}

#main-content .sidebar .form-control {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
}

#main-content .sidebar .form-control .form-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}

#main-content .sidebar .form-control .form-submit {
    padding: 0.5rem 1rem;
    background: var(--primary-color);
    color: #fff;
    border-radius: 0.5rem;
	border: none;
	cursor: pointer;
	outline: inherit;
}

#main-content .sidebar .form-control .form-submit:hover {
    background: var(--extra-color);
}

#main-content .container .guitarlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    background: #fff;
    height: auto;
    width: 100%;
    margin: 2rem 0;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid var(--secondary-color)
}

#main-content .container h2 {
    background: #fff;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
}

/* Guitar Cards */

.guitar-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.guitar-card a {
    color: var(--primary-color);
}

.guitar-card a:hover {
    background: var(--primary-color);
    color: #fff;
}

.guitar-card .image {
    width: 80%;
}

/* Footer */

#footer {
    display: flex;
    justify-content: center;
    height: 15vh;
    background: var(--secondary-color);
}